<div class="development-notice">
  <h2 class="tna-heading-m development-notice__heading">
    This site is under development
  </h2>
  <p>This is a new way to search our records, which we’re still working on. Alternatively you can search our existing catalogue, <a href="https://discovery.nationalarchives.gov.uk/">Discovery</a>. Read more about the project on <a href="https://www.nationalarchives.gov.uk/blogs/digital/new-online-catalogue-blog/welcome-to-the-new-national-archives-online-catalogue" aria-label="Blog post: Welcome to the new National Archives online catalogue!">our blog</a>.</p>
</div>
