@use "node_modules/@nationalarchives/frontend/nationalarchives/variables/colour";

.development-notice {

  &:first-child {
    margin-top: 0;
  }

  padding: 1rem 1.25rem;
  border: 3px solid colour.brand-colour("blue");
  border-radius: 5px;

  &__heading {
    text-decoration: underline;
  }

  &__content {
    margin-top: 0.5rem;
  }
}
