{% extends "layouts/base.html" %}

{% set pageTitle = 'Browse landing page' %}
{% set theme = 'light' %}
{% set themeAccent = 'green' %}

{% from "components/development-notice/macro.njk" import developmentNotice %}
{% from "components/browse-filters/macro.njk" import browseFilters %}
{% from "components/department-list/macro.njk" import departmentList %}

{% block content %}
<div class="tna-container">
  <h1 class="tna-heading-xl tna-!--margin-top-l">Browse records of The National Archives</h1>
  <p class="tna-column--width-5-6">The National Archives is the official archive of the UK government.
    Select a government department to see the records within this section.
  </p>
  {{ developmentNotice({
    title: "This site is under development",
    body: '<p>This is a new way to navigate The National Archives’ records. To explore records from other UK archives you can use our existing tool <a href="#">Browse</a>. Read more about the project on <a href="#">our blog</a>.</p>',
    classes: "tna-!--margin-top-m"
  }) }}
  <div class="tna-!--margin-top-m tna-!--margin-bottom-m">
    <p id="browse-filters-heading">Filter by topic</p>
    {{ browseFilters({
      items: filters,
      attributes: {
        "aria-labelledby": "browse-filters-heading"
      }
    }) }}
  </div>
  {{ departmentList({
    items: departmentItems,
    count: resultCount,
    classes: "tna-!--margin-bottom-m"
  }) }}
</div>
{% endblock content %}
